@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}